@using ticariotomasyon.Models.siniflar
@model List<satishareket>
@{
    ViewBag.Title = "departmanpersonelsatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.dpers</li>
</ol>
<table class=" table table-condensed">
    <tr>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.urun.urunAD</td>
    <td>@x.cariler.cariad @x.cariler.carisoyad</td>
    <td>@x.fiyat ₺</td>
    <td>@x.adet</td>
    <td>@x.ttutar</td>
    <td>@x.tarih</td>
    <td> <a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>
</tr>
    }
</table>
